<div class="navigationbar">
  <div class="leftbar">
      <%= link_to "Mister Cocktail", cocktails_path %>
  </div>
  <div class="rightbar">
      <%= link_to "Add a cocktail", new_cocktail_path %>
  </div>

</div>
