body {
  background-image: linear-gradient(-180deg, rgba(30,30,30,0.6), rgba(30,30,30,0.3)), asset-url('cocktail-2.jpg');
  background-size: cover;
  background-position: center;
}


.container {
  height: 100vh;
  h1 {
    text-align: center;
    color: rgba(255,255,255,1);
    text-shadow:
      1px 1px 15px rgba(30,30,30,0.5),
      -1px -1px 15px rgba(30,30,30,0.5);
    margin: 40px 0px;
  }
}

.card-cocktail {
  margin: 10px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 3px;
  width: 340px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  p {
    padding: 5px;
  }
  h3 {
    margin: 5px;
    font-size: 24px;
  }
  a {
    text-decoration: none;
    margin: 5px;
    color: rgba(20,20,20,1);
    &:hover {
      text-shadow: 1px 1px 2px rgba(254, 241, 221, 0.8);
    }
  }
}
